cerebras_pytorch==2.7.0
tabulate==0.9.0
transformers==4.45.2
tokenizers==0.20.1
datasets==2.19.1
filelock==3.14.0
more-itertools==10.5.0
datasketch==1.6.5
ftfy==6.2.3
networkit==10.1
Keras-Preprocessing==1.1.2
scipy==1.10.1
regex>=2021.8.3
nltk==3.9.1
spacy==3.7.6
matplotlib==3.9.2
pyarrow==17.0.0
pyYAML
pandas==2.2.3
jsonschema==4.23.0
torch==2.4.0
torchvision==0.19.0
safetensors==0.4.5
sentencepiece==0.2.0
lm-dataformat @ https://github.com/leogao2/lm_dataformat/archive/ac85cb7dae49ce25e9973a128ebd9167deaf64dd.zip
lm-eval @ https://github.com/EleutherAI/lm-evaluation-harness/archive/refs/tags/v0.4.7.zip
bigcode_eval @ https://github.com/bigcode-project/bigcode-evaluation-harness/archive/f0b81a9d079289881bd42f509811d42fe73e58cf.zip
h5py==3.13.0
tqdm==4.66.5
Flask==3.0.3
Pillow==9.4.0
pydantic==2.8.2
faiss-cpu==1.8.0.post1
deepdiff>=8,<9
cerebras_cloud_sdk>=1.0.0
click==8.1.7
termcolor==2.4.0
slack-sdk==3.11.2
argcomplete==3.5.0
