absl-py==0.14.1
blis==0.7.8
cached-property==1.5.2
cachetools==4.2.4
catalogue==2.0.8
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
cymem==2.0.6
dataclasses==0.6
filelock==3.3.1
google-auth==2.3.0
google-auth-oauthlib==0.4.6
grpcio==1.41.0
h5py==3.1.0
huggingface-hub==0.4.0
idna==3.3
importlib-metadata==4.8.1
Jinja2==3.1.2
joblib==1.1.0
Keras-Preprocessing==1.1.2
langcodes==3.3.0
Markdown==3.3.4
MarkupSafe==2.1.1
murmurhash==1.0.7
nltk==3.6.7
numpy==1.19.5
oauthlib==3.1.1
packaging==21.0
pathy==0.6.2
Pillow==8.3.2
portalocker==2.4.0
preshed==3.0.6
protobuf==3.18.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.8.2
pyparsing==3.0.1
PyYAML==6.0
regex==2021.10.23
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
sacrebleu==2.0.0
sacremoses==0.0.46
setuptools==59.5.0
six==1.16.0
smart-open==5.2.1
spacy==3.2.2
spacy-legacy==3.0.9
spacy-loggers==1.0.3
srsly==2.4.4
tabulate==0.8.9
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
thinc==8.0.17
tokenizers==0.10.3
torch==1.10.1
torchaudio==0.10.1
torchvision==0.11.2
tqdm==4.62.3
transformers==4.16.0
typer==0.4.2
typing-extensions==3.10.0.2
urllib3==1.26.7
wasabi==0.10.1
Werkzeug==2.0.2
zipp==3.6.0